:root {
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navy-blue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --light-slate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navy-blue-model: #2E2F42;
    --grey: #2E2F42;
    --white: #FFFFFF;
    --dairy: #FCFCFC;
}

body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

button {
    cursor: pointer;
}

header {
    background: var(--white, #FFFFFF);
}

.list {
    list-style: none;
}

.logo {
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: var(--iris, #4D5AE5);
    line-height: 1.17;
    text-decoration: none;
}

.link {
    text-decoration: none;
}
.logo-ligh {
    color: var(--grey, #2E2F42);

}

.top-line-item {
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue, #2E2F42);
    list-style: none;
    text-decoration: none;
}

.top-line-item:hover,
.top-line-item:focus,
.top-line-item:active {
    color: var(--ocean, #404BBF);
}

.menu-contacts {
    font-size: 16px;
    font-family: Roboto;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: var(--navy-blue, #2E2F42);
    font-style: normal;
}

.adres{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate, #434455);
}

.adres:hover,
.adres:focus {
    color: #404BBF;
}

.hero-image {
    background: var(--navyblue, #2E2F42);
}

.hero-image-title {
    color: var(--white, #FFFFFF);
    font-size: 56px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center;
}
.hero-image-button {
    background: var(--iris, #4D5AE5);
    color: var(--white, #FFFFFF);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    }

.hero-image-button:hover,
.hero-image-button:focus {
    background: var(--ocean, #404BBF)
}

.sect-heads-three {
    color: var(--navyblue, #2E2F42);
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.section-text {
    color: var(--slate, #434455);
    font-size: 16px;
    font-family: Roboto;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.sect-heads-two {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.img-bg {
    background: var(--cornflower, #E7E9FC)
}

.sect-four {
    background-color: #F4F4FD;
}

.bottom-of-the-page {
    background: var(--navyblue, #2E2F42);
}

.sect-four-item {
    background-color: #FFFFFF;
}

.logo-ligh-two {
    color: #f4f4fd;
}

.footer-text {
    color: var(--cloud, #F4F4FD);
    font-size: 16px;
    font-family: Roboto;
    line-height: 24px;
    letter-spacing: 0.32px;
}